* {
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #5C5B5B;
    padding: 0px 15px;
}

header img { 
    height: 200px;
    width: 200px;
}

header h1 {
    flex: auto;
    font-size: 500%;
    line-height: 25%;
    color: #ffffff;
    margin-bottom: 20%;
    text-align: center;
    font-family:'Amatic SC';
    font-weight: 500%;
}

h2 {
    font-family: 'Sora';
}

.topContainer {
    text-align: center;
    margin: 10% 20% 0 20%;
}

.meal-input,
.drink-input {
    width: 100%;
    margin-top: 40px;
    border-radius: 50px 0 0 50px;
    border: 1px solid;
    height: 40px;
    padding-left: 20px;
}

.search-meal-btn,
.search-drink-btn {
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 0 50px 50px 0;
}