* {
    box-sizing: border-box;
}

header {
    background-color: #5C5B5B;
    padding: 0px 15px;
}

.title {
    font-family: 'Amatic SC';
}

h2,
.modal-card-title,
.content {
    font-family: 'Sora';
}

.topContainer {
    text-align: center;
    margin: 10% 20% 0 20%;
}

.meal-input,
.drink-input {
    width: 100%;
    margin-top: 40px;
    border-radius: 50px 0 0 50px;
    border: 1px solid;
    height: 40px;
    padding-left: 20px;
}

.search-meal-btn,
.search-drink-btn {
    height: 40px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 0 50px 50px 0;
    cursor: url("../../assets/images/glass.cur"), pointer;
}

.search-meal-btn:hover,
.search-drink-btn:hover {
    background-color: #6a94cc;
}

.top-right {
    position: absolute;
    top: -2px;
    right: 54px;
    text-decoration: none;
    color: gold
}

.drink-favorite-star,
.meal-favorite-star {
    height: 40px;
    margin-top: 40px;
    padding: 10px 10px 0 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: gold;
    cursor: pointer;
}

.top-right:hover {
    font-size: 2em;
}

.card-footer {
    background-color: #9DD2DC;
}

.recipe-button,
.drink-button {
    font-family: 'Sora';
    background-color: #9DD2DC;
    border: none;
}

.recipe-button:hover,
.drink-button:hover {
    color: #FFFFFF;
}

#recipe-header {
    background-color: #9DD2DC;
}

#error-header {
    background-color: #E82F1C;
}